apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: mongo
  labels:
    app: mongo
spec:
  clusterIP: None          # ⭐ Headless Service，给 StatefulSet 做 DNS
  selector:
    app: mongo
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017